:root {
  --logo-font: "Redressed", cursive;
  --main-font: "Merriweather", serif;
  --header-font: "Noto Sans KR", sans-serif;
  --text-color: #003026;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--main-font);
  color: var(--text-color);
}

footer {
  display: block;
}

.main-container {
  max-width: 95vw;
  margin: 20px auto;
  border-radius: 20px;
  /* background-color: #fffafc; */
  overflow: hidden;
  position: relative;
}

.top-nav {
  /* border: solid 2px red; */
  padding: 1em 15vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.07);
  position: absolute;
  top: 4em;
  right: 0;
  left: 0;
  z-index: 100;
}

.top-nav ul {
  display: flex;
}

.logo {
  font-family: var(--logo-font);
  font-size: 1.35rem;
  color: #59a9ff;
  text-shadow: 6px 3px 5px rgba(0, 0, 0, 0.5);
}

.logo span {
  font-size: 1.5rem;
  font-family: var(--logo-font);
  color: #99caff;
  text-shadow: 6px 3px 5px rgba(0, 0, 0, 0.5);
}

.top-menu li {
  display: flex;
  margin-right: 1.2rem;
}
.top-menu a {
  font-family: var(--header-font);
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.5);
}

/* .top-nav button {
  color: white;
  font-family: var(--header-font);
  font-size: 1rem;
  flex-wrap: nowrap;
  font-weight: 600;
  padding: 0.75rem;
  border: none;
  background-color: #59a9ff;
} */

.hero {
  position: absolute;
  top: 5em;
  bottom: 0;
  z-index: 99;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("/images/spray.jpg");
  background-color: rgba(0, 0, 0, 0.25);
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat; */
}

.hero h1 {
  font-family: var(--header-font);
  font-size: 2rem;
  text-shadow: 0px 0px 13px rgba(0, 0, 0, 0.65);
  color: #fff;
}

.hero p {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 1.5rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.65);
  color: #fff;
}

.hero-btns {
  display: flex;
  flex-direction: row;
}

.hero-btn {
  display: inline-block;
  color: white;
  font-family: var(--header-font);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.65rem 1.5rem;
  border: none;
  /* border-radius: 2rem; */
  background-color: #59a9ff;
  margin: 1.5rem;
}

.hero .btn2 {
  background: #00eec0;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.featured {
  height: 15em;
  width: 15em;
  text-align: center;
  margin: 5em 0;
  background: rgba(153, 176, 168, 0.1);
  border-radius: 50%;
}

.featured p {
  color: black;
  opacity: 0%;
  text-align: left;
  line-height: 1.7;
  margin-top: 1.5em;
}

.featured p:hover {
  opacity: 100%;
}

.fas {
  font-size: 6em;
  margin: 2rem;
  color: #55f4d5;
}

.about {
  display: grid;
  grid-template-areas: "left right";
  justify-items: center;
  align-items: center;
  /* background-color: #fff; */
  /* background-color: #fffafc; */
}

.about-Anna {
  grid-area: left;
  /* background-color: white; */
  max-width: 78%;
}

.about-Anna h2 {
  padding-bottom: 1em;
}

.about-Anna p {
  line-height: 2;
}

.about img {
  max-width: 33vw;
  grid-area: right;
}

section.book-apt {
  background: url("../images/cleaner-with-bowl.jpg") left top/cover no-repeat;
  height: 850px;
  /* display: grid;
  grid-template-areas:
    "left left left"
    "left left right"
    "left left right"; */
}

.placeholder {
  grid-area: left;
  content: " ";
  /* width: 35vw;
  height: 50vh; */
}
.card {
  width: 35em;
  height: 25em;
  border-radius: 8px;
  line-height: 1.65;
  padding: 2em;
  /* display: grid; */
  /* align-self: center; */
  justify-items: center;
  text-align: left;
  /* grid-area: right; */
  float: right;
  background-color: #fff;
  margin: 10vh 3em 10vh 0;
  -webkit-box-shadow: 2px 2px 10px 1px rgba(54, 11, 11, 0.5);
  -moz-box-shadow: 2px 2px 10px 1px rgba(54, 11, 11, 0.5);
  box-shadow: 2px 2px 10px 1px rgba(54, 11, 11, 0.5);
}

.card h2 {
  margin: 1.5em 0;
}

.card button {
  margin: 1.5em 0;
}

.foot-area {
  /* height: 30em; */
  padding: 0.75em;
  /* margin-top: 5em; */
  width: 100%;
  background: #59b19f;
  display: grid;
  grid-template-areas: "left mid right" "copy copy copy";
}

.foot-area a,
.foot-area .contact li {
  color: white;
  font: 300 12px var(--header-font);
  line-height: 1.9;
}

.social,
.foot-nav,
.contact {
  border-left: white 1px solid;
  padding-left: 1.5em;
}

.social {
  grid-area: left;
  /* margin-bottom: 1em; */
}

.social i {
  margin-right: 0.5em;
}

.social ul {
  /* display: flex; */
}

.social li {
  /* margin-right: 2em; */
}

.foot-nav {
  /* padding: 2em 0 2em 65vw; */
  display: block;
  grid-area: mid;
  /* margin-bottom: 1em; */
}

.foot-nav ul {
  /* display: flex;
  justify-content: space-evenly; */
}

.contact {
  grid-area: right;
}

.copy {
  text-align: center;
  grid-area: copy;
}

.copy {
  font: 300 12px var(--header-font);
}

@media (max-width: 1160px) {
  .logo {
    display: none;
  }
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
  .top-nav {
    position: fixed;
    top: 0;
    /* z-index: -1;
    width: 95vw;
    margin: 0 auto; */
  }
}
